In [1]:
#set the midpoint
midpoint = 5

#make two empty lists
lower = []; upper = [];

#split the numbers into lower and upper
for i in range (10):
    if (i<midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower", lower)
print("upper", upper)

lower [0, 1, 2, 3, 4]
upper [5, 6, 7, 8, 9]

In [ ]:
# assign 4 to the variable x
x = 4 #x is an integer
x = 'hello' #x is a string
x = [1, 2, 3] #now x is a list

In [2]:
# two variables point to same object, modifying one will
##change the other

x = [1,2,3]
y = x
print(y)

[1, 2, 3]

In [3]:
x.append(4) #append 4 to the list pointed to by x
print(y) #y's list is modified as well

[1, 2, 3, 4]

In [4]:
x = 'something else'
print(y) #remains unchaged if x becomes new object

[1, 2, 3, 4]

In [5]:
# variables point to objects
x = 10
y = x
x += 5 #adding 5 to x's value doesn't change value of y
print("x=", x)
print("y=", y)

x= 15
y= 10

In [11]:
#types
x = 4
type(x)

int

In [12]:
y = 'hello'
type(y)

str

In [13]:
z = 3.14159
type(z)

float

In [14]:
L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [15]:
x = 4.5
print(x.real, "+", x.imag, 'i')

4.5 + 0.0 i

In [16]:
# methods
x = 4.5
x.is_integer()

False

In [17]:
x = 4.0
x.is_integer()

True

In [18]:
type(x.is_integer)

builtin_function_or_method

In [1]:
# operators
(4+8) * (6.5 -3)

42.0

In [2]:
#true division
print(11/2)

5.5

In [3]:
#floor division
print(11 // 2)

5

In [4]:
bin(10)

'0b1010'

In [5]:
bin(1000)

'0b1111101000'

In [6]:
# or operator
4 | 10

14

In [7]:
bin(4|10)

'0b1110'

In [8]:
# built-in update operators for all the arithmetic operations
a = 24
a += 2 
print(a)

26

In [9]:
# comparison operators
a = 24
b = 25
a == b

False

In [10]:
a < b

True

In [11]:
a <= b

True

In [12]:
a >= b

False

In [13]:
a != b

True

In [14]:
25 % 2 == 1

True

In [15]:
# is 66 odd?
66 % 2 == 1

False

In [16]:
# check if a is between 15 and 30
a = 25

15 < a < 30

True

In [17]:
-1 == ~0

True

In [18]:
x = 4
(x < 6) and (x > 2)

True

In [19]:
(x > 10) or (x % 2 == 0)

True

In [20]:
not (x < 6)

False

In [21]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [ ]:
# Boolean operators should be used when you want
# to compute Boolean values (i.e., truth or falsehood)
# of entire statements. Bitwise operations should
# be used when you want to operate on individual
# bits or components of the objects in question.

In [22]:
# identity operators check object identity, different from equality
a = [1, 2, 3]
b = [1, 2, 3]
a == b

True

In [23]:
a is b

False

In [24]:
a is not b

True

In [25]:
# a and b are not identical objects above, below they are:
a = [1, 2, 3]
b = a
a is b

True

In [26]:
# membership operators check for membership within compound objects
1 in [1, 2, 3]

True

In [27]:
2 not in [1, 2, 3]

False

In [28]:
# integers
x = 1
type(x)

int

In [29]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [30]:
# division upcasts to floating point type
5/2

2.5

In [ ]:
### next up: floating - point numbers ###